body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(247, 174, 149);
    text-align: justify;
    margin-left: 30px;
}

h1 {
    color: saddlebrown;
    text-transform: uppercase;
    font-size:xx-large;
}

h3 {
    color: saddlebrown;
    text-decoration-line:underline;
}

.importante {
    font-size: 20px;
    font-weight: bold;
}